{% extends 'main_base.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb section -->
<div class="breadcrumb-section breadcrumb-bg" style="margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Account</h1>
                </div>
            </div>
        </div>
    </div>
</div>  

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Your Orders</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user_profile' %}">Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders'%}">Orders <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wallet' %}">Wallet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'address' %}">Addresses</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

     
{% if orders %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>No of products</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>Order - {{ order.pk }}</td>
                <td>{{ order.order_date }}</td>
                <td>₹{{ order.total_cost }}</td>
                <td>{{ order.total_products }}</td>
                <td>
                  <a href="{% url 'order_detail' order.id %}" class="btn btn-info">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No orders found.</p>
{% endif %}

<!-- Your Bootstrap JS and CSS links -->

{% endblock %}
